vendor
mix-manifest.json
.env
**/*node_modules
*.log
.idea
.vscode
*.diff
*.err
*.orig
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
_notes
dwsync.xml
*.komodoproject
.komodotools
.hg
.svn
.CVS
intermediate
npm-debug.log
yarn-error.log